/*Dashboard Page*/
.adminContainer{
    min-height: 100vh;
}

.userContent .bodyContent {
    padding-right: 150px;
}

.mainBagTitle{
    font-size: 5rem;
    margin: 40px 0 40px 0;
}

.bagContainer{
    width: 100%;
}

.bagItems{
    float: left;  
    width: calc(25% - 50px);
    margin-bottom: 65px;
    margin-right: 50px;
    height: 450px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 0 20px 0 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.bagItems img{
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
}

.bagItems p{
    font-size: 1.4rem;
    line-height: 2rem;
    text-transform: lowercase;
}

.bagItems p::first-letter{
    text-transform: uppercase;
}

.bagItems h1{
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.bagItems a{
    color: black;
}

.bagItems i{
    margin-right: 3px;
}

.removeFromBag{
    position: absolute;
    right: 15px;
    top: -17px;
    // background: white;
    padding: 1%;
    // box-shadow: 0 2.5px 10px rgba(0, 0, 0, .05);
}

.bagLinks{
    position: absolute;
    bottom: -28px;
    left: 15px;
    background: white;
    width: 125px;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.bagTitle h3{
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2rem;
}

.fa-minus-square-o{
    font-size: 2.5rem;
    margin-left: 3px;
    margin-top: 3px;
    transition: 0.25s ease;
}

.bagRemoveAdd{
    width: 100%;
}

.bagRemoveIcons{
    float: left;
    width: 50%;
    text-align: center;
    margin-top: 8px;
}

.fa-plus-square-o:hover, .fa-minus-square:hover, .fa-minus-square-o:hover{
    color: #eba78d;
}

.fa-plus-square-o, .fa-minus-square{
    font-size: 2rem;
    transition: 0.25s ease;
}



.sectionHeading{
    font-size: 8rem;
    margin: 50px 0 50px 0;
}

.userDetails{
    width: 100%;
}

.imgContainer{
    width: calc(40% - 40px);
    margin-right: 40px;
    float: left;
}

.imgContainer img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.userContentContainer{
    width: 60%;
    float: left;
}

.bodyContent{
    font-size: 2rem;
    line-height: 2.6rem;
    letter-spacing: 0.05rem;
    margin-bottom: 10px;
}

.contentEdit{
    width: 100%;
}

.editingBox{
    float: left;
    width: 50%;
    height: 60px;
}

.editingBox a, .editColorTitle{
    font-size: 2rem;
    margin-top: 20px;
    cursor: pointer;
}

.color1{
    background: #e5bb9e;
    border-radius: 50px;
    height: 50px;
    width: 50px;
}

.color2{
    background: #fac8e2;
    border-radius: 50px;
    height: 50px;
    width: 50px;
}

.color3{
    background: #eba78d;
    border-radius: 50px;
    height: 50px;
    width: 50px;
}

.color4{
    background: #dca852;
    border-radius: 50px;
    height: 50px;
    width: 50px;
}

.colors{
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.colorBoxes{
    right: 0;
}


.editInfoContainer{
    margin-top: 10px;
}

.editInfoInputs{
    width: 75%;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid black;
    height: 30px;
    font-size: 1.5rem;
}

.editInfoInputs::placeholder{
    font-size: 1.5rem;
}

.fa-twitter, .fa-instagram{
    font-size: 3rem;
    color: black;
    margin-top: 20px;
    margin-right: 50px;
}



// const divStyle = {
//             background: "black",
//             width: "50px",
//             height: "50px",
//         }