/*Dashboard Page*/
.bagContainer{
    width: 100%;
}

.bagItems{
    float: left;  
    width: 25%;
    text-align: center; 
    margin-bottom: 50px;
}

.bagContainer h1{
    margin-bottom: 10px;
}

.bagContainer p{
    margin-bottom: 10px;
}

.bagContainer a{
    margin-right: 10px;
    color: black;
}

.bagContainer i{
    margin-right: 3px;
}
