/*Dashboard Page*/
.adminContainer{
    min-height: 100vh;
    width: 100%;
}

.userContent .bodyContent {
    padding-right: 150px;
    margin-top: 10px;
}

.bioTitle{
    text-transform: uppercase;
    opacity: 0.5;
    font-size: 1.5rem;
}

.mainBagTitle{
    font-size: 5rem;
    margin: 100px 0 50px 0;
}

.bagContainer{
    width: 100%;
}

.bagItems{
    float: left;  
    width: calc(25% - 50px);
    margin-bottom: 65px;
    margin-right: 50px;
    height: 450px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 0 20px 0 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.bagItems img{
    width: 100%;
    height: 300px;
    display: block;
    object-fit: contain;
}

.bagItems p{
    font-size: 1.4rem;
    line-height: 2rem;
}

.bagItems h3{
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.bagItems a{
    color: #575757;
}

.bagItems i{
    margin-right: 3px;
}

.removeFromBag{
    position: absolute;
    right: 15px;
    top: -17px;
    padding: 1%;
}

.bagLinks{
    position: absolute;
    bottom: -28px;
    left: 15px;
    background: white;
    width: 125px;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.bagTitle h3{
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2rem;
}

.fa-minus-square-o{
    font-size: 2.5rem;
    margin-left: 3px;
    margin-top: 3px;
    transition: 0.25s ease;
}

.bagRemoveAdd{
    width: 100%;
}

.bagRemoveIcons{
    float: left;
    width: 50%;
    text-align: center;
    margin-top: 8px;
}

.fa-plus-square-o:hover, .fa-minus-square:hover, .fa-minus-square-o:hover{
    color: #eba78d;
}

.fa-plus-square-o, .fa-minus-square{
    font-size: 2rem;
    transition: 0.25s ease;
}

.sectionHeading{
    font-size: 8rem;
    margin: 50px 0 50px 0;
}

.userDetails{
    width: 100%;
}

.imgContainer{
    width: calc(40% - 40px);
    margin-right: 40px;
    float: left;
}

.imgContainer img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.userContentContainer{
    width: 60%;
    float: left;
}

.bodyContent{
    font-size: 2rem;
    line-height: 2.6rem;
    letter-spacing: 0.05rem;
    margin-bottom: 10px;
}

.contentEdit{
    width: 100%;
}

.editingBox{
    float: left;
    width: 50%;
    height: 60px;
}

.colorContainer{
    width: 50%;
    float: left;
}

.editingBox a, .editColorTitle{
    font-size: 2rem;
    cursor: pointer;
}

.color1{
    background: #e5bb9e;
}

.color2{
    background: #fac8e2;
}

.color3{
    background: #eba78d;
}

.color4{
    background: #dca852;
}

.colors{
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    height: 50px;
    border-radius: 50px;
    width: 50px;
}

.colorBoxes{
    // width: 100%;
    position: absolute;
}


.editInfoContainer{
    margin-top: 10px;
}

.editInfoInputs{
    width: 75%;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid black;
    height: 30px;
    font-size: 1.5rem;
}

.editInfoInputs::placeholder{
    font-size: 1.5rem;
}

.fa-twitter, .fa-instagram{
    font-size: 3rem;
    color: #575757;
    margin-top: 20px;
    margin-right: 50px;
}

/*Media Queries*/
@media (max-width : 1256px){
    .bagItems{
        width: calc(33.33% - 50px);
        margin-right: 50px;
    }

    .bagItems:nth-of-type(3n){
        margin-right: 0;
        float: right;
    }
}

@media (max-width : 1024px){
    .userContent .bodyContent{
        padding: 0;
    }

    .imgContainer{
        width: calc(50% - 30px);
        margin-right: 30px;
    }

    .userContentContainer{
        width: 50%;
    }
    .editColorTitle{
        margin-bottom: 15px;
    }

    .colorBoxes{
        width: 111px;
    }

    .colors{
        margin: 5px 0 5px 0; 
    }

    .color1{
        float: left;
    }
    .color2{
        float: right;
    }
    .color3{
        float: left;
    }
    .color4{
        float: right;
    }

    .bagItems{
        width: calc(33.33% - 50px);
        margin-right: 50px;
    }
}

@media (max-width : 954px){
    .imgContainer{
        width: 69%;
        height: 250px;
        margin-bottom: 50px;
    }
    .imgContainer img{
        height: 275px;
    }
    .userContentContainer{
        width: 75%;
    }
    .mainBagTitle{
        margin-top: 140px;
        text-align: center;
    }
    .colorBoxes{
        position: absolute;
    }
    .contentEdit{
        margin-top: 20px;
    }
}

@media (max-width : 842px){
    .bagItems{
        width: calc(50% - 50px);
        margin-right: 50px;
    }

    .bagItems:nth-of-type(even){
        margin-right: 0;
        float: right;
    }
}

@media (max-width : 566px){
    .adminContainer .bagContainer .bagItems{
        width: 80%; 
        margin: 50px auto 50px auto;
        float: none;
    }

    .adminContainer .bagContainer:nth-of-type(even) .bagItems{
        float: none;
        margin: 50px auto 50px auto;
    }
}
@media (max-width : 480px){
    .imgContainer{
        width: 100%;
    }

    .userContentContainer{
        width: 100%;
    }

    .sectionHeading{
        font-size: 6rem;
        text-align: center;
    }
}