/* LANDING */

.landingContainer {
    width: 97vw;
    height: 96vh;
    margin-top: 2vh;
    margin-left: 1.75vw;
    background: #FFF;
}

.unitSignIn {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    height:315px;
    width: 315px;
    background: rgba(255, 255, 255, 0.541);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.landingControls {
    box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
    width: 65%;
    height: 100%;
    text-align: center;
    float: right;
    position: relative;

    a {
        font-size: 1.6rem;
        letter-spacing: .1rem;
        display: block;
        box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
        width: 60%;
        height: 15%;
        padding: 4.25% 0;
        color: #eba78d;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -80%);
        
    }

    a:hover {
        box-shadow: 0 4px 10px #eba78d;
    }
}

.signInLogo{
    border-radius: 60%;
    padding-top: 5%;
    height: 200px;
    width: 200px;
}

.landingPageSideImage {
    height: 100%;
    width: 33.33%;
    margin: 0;
    float: left;

    img {
        width: 100%;
        height: 105%;
        margin-top: -25px;
        margin-left: 25px;
        margin-right: -25px;
        object-fit: cover;
    }
}

@media (max-width: 1024px) {

    .unitSignIn {
        width: 60%;
        width: 275px;
    }

    .landingControls {
        width: 55%;
        margin-left: 15px;
    }

    .landingPageSideImage {
        width: 40%;
    }
}

@media (max-width: 768px) {
    .unitSignIn {
        width: 50%;
        background: rgba(255, 255, 255, 0.99);
    }

    .landingControls {
        width: 100%;
    }

    .landingPageSideImage {
        width: 96.5%;
        position: absolute;
    }

    .landingPageSideImage img {
        margin-left: 0;
    }
}

@media (max-width: 480px) {
    .unitSignIn {
        width: 70%;
    }
}
