/* LANDING */

.landingContainer {
    width: 97vw;
    height: 96vh;
    margin-top: 2vh;
    margin-left: 1.75vw;
    background: #EFEFEF;
}

.landingControls {
    border: 1px solid darkgrey;
    width: 66.66%;
    height: 100%;
    text-align: center;
    float: right;
    position: relative;
    a {
        display: block;
        border: 1px solid black;
        border-radius: 10px;
        width: 32%;
        // margin: 30% auto 0 auto;
        padding: 2% 0%;
        color: #333;
        position: absolute;
        top: 50%;
        // left: 40%;
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
    }
}

.signInLogo{
    position: absolute;
    border-radius: 60%;
    padding-top: 5%;
    top: 50%;
    // left: 43%;
    height: 200px;
    width: 200px;
    // background-image: radial-gradient( transparent 30%, #{$primary-color} 20%);
    

}

.landingPageSideImage{
    img{
        width: 31%;
        height: 96vh;
        float: left;
        margin-left: 3%;
        object-fit: cover;
    }
}
