/*Public Page*/
.profileContent::-webkit-scrollbar{
    display: none;
}
.profileContainer{
    width: 100%;
    margin-top: 50px;
}

.imageContainer{
    width: 40%;
    float: left;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.profileContent{
    width: 60%;
    margin-left: 40%;
    float: left;
    overflow-y: scroll;
    height: 100vh;
}

.profileContent .bodyContent{
    padding-right: 125px;
}

.profileImage{
    width: 350px;
    height: 350px;
    position: relative;
}

.profileImage img{
    max-width: 100%;
    height: 350px;
    width: 350px;
    z-index: 2;
    object-fit: cover;
}

.publicMakeup{
    width: calc(50% - 100px);
    float: left;
    margin-bottom: 50px;
    margin-right: 100px;
    height: 450px;
    position: relative;
    padding: 0 20px 0 20px;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    background: white;
}

.publicMakeup:nth-of-type(even){
    margin-right: none;
}

.publicMakeup img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}


.publicLink{
    position: absolute;
    bottom: -15px;
    left: 15px;
    background: white;
    width: 125px;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    text-align: center;
    transition: 0.3s ease;
}

.publicLink:hover{
    box-shadow: 0 4px 10px #eba78d;
}

.publicLink a{
    color: black;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2rem;
    display: block;
}

.profileHeading{
    font-size: 4rem;
    margin-bottom: 45px;
}

.publicMakeupTitle{
    margin: 100px 0 50px 0;
    font-size: 3rem;
}

.userOption1, .userOption2, .userOption3, .userOption4{
    height: 350px;
    width: 350px;
    position: absolute;
    top: 50%;
    left: -50%;
    z-index: -1;
}

.userOption1{
    background: #e5bb9e;
}

.userOption2{
    background: #fac8e2;
}

.userOption3{
    background: #eba78d;
}

.userOption4{
    background: #dca852;
}

.publicMakeup h3{
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.publicMakeup p{
    font-size: 1.4rem;
    margin-bottom: 10px;
}

/*Media Queries*/

@media (max-width: 1140px) {
    .profileImage{
        width: 300px;
        height: 300px;
    }

    .profileImage img{
        height: 300px;
        width: 300px;
    }
    .userOption1, .userOption2, .userOption3, .userOption4{
        height: 300px;
        width: 300px;
    }

    .publicMakeup{
        width: calc(50% - 30px);
        margin-right: 30px;
    }
}

@media (max-width: 900px){
    .profileImage{
        width: 250px;
        height: 250px;
    }

    .profileImage img{
        height: 250px;
        width: 250px;
    }
    .userOption1, .userOption2, .userOption3, .userOption4{
        height: 250px;
        width: 250px;
    }
    .profileContent .bodyContent{
        padding-right: 50px;
    }
}

@media (max-width: 768px){
    .imageContainer{
        width: 100%;
        position: relative;
        top: auto; 
        left: auto;
        float: none;
        transform: translate(0, 0);
    }
    .profileContent{
        width: 85%;
        margin-left: 15%;
        position: relative;
        z-index: 9999;
    }

    .profileImage{
        width: 300px;
        height: 300px;
    }

    .profileImage img{
        height: 300px;
        width: 300px;
    }
    .userOption1, .userOption2, .userOption3, .userOption4{
        height: 300px;
        width: 300px;
    }
}

@media (max-width: 550px){
    .publicMakeup{
        width: 80%;
        float: none;
        margin: 0 auto 50px auto;
    }

    .profileContent{
        width: 99%;
        float: none;
        margin: 50px auto 0 auto;
    }
}