/*Public Page*/
.profileContent::-webkit-scrollbar{
    display: none;
}
.profileContainer{
    width: 100%;
    margin-top: 50px;
}

.imageContainer{
    width: 40%;
    float: left;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.profileContent{
    width: 60%;
    margin-left: 40%;
    float: left;
    overflow-y: scroll;
    height: 100vh;
}

.profileContent .bodyContent{
    padding-right: 125px;
}

.profileImage{
    width: 350px;
    height: 350px;
    position: relative;
}

.profileImage img{
    max-width: 100%;
    height: 350px;
    width: 350px;
    z-index: 2;
    object-fit: cover;
}

.publicMakeup{
    width: calc(50% - 100px);
    float: left;
    margin-bottom: 50px;
    margin-right: 100px;
    height: 450px;
    position: relative;
    padding: 0 20px 0 20px;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.publicMakeup:nth-of-type(even){
    margin-right: none;
}

.publicMakeup img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}


.publicLink{
    position: absolute;
    bottom: -15px;
    left: 15px;
    background: white;
    width: 125px;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    text-align: center;
    transition: 0.3s ease;
}

.publicLink:hover{
    box-shadow: 0 4px 10px #eba78d;
}

.publicLink a{
    color: #575757;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2rem;
    display: block;
}

.profileHeading{
    font-size: 4rem;
    margin-bottom: 45px;
}

.publicMakeupTitle{
    margin: 100px 0 50px 0;
    font-size: 3rem;
}

.userOption1, .userOption2, .userOption3, .userOption4{
    height: 350px;
    width: 350px;
    position: absolute;
    top: 50%;
    left: -50%;
    z-index: -1;
}

.userOption1{
    background: #e5bb9e;
}

.userOption2{
    background: #fac8e2;
}

.userOption3{
    background: #eba78d;
}

.userOption4{
    background: #dca852;
}

.publicMakeup h3{
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.publicMakeup p{
    font-size: 1.4rem;
    margin-bottom: 10px;
}