.searchPage{
        margin-top: 2vh;
        margin-left: 1.75vw;
       
}

.inputWrapper{
    position: absolute;
    top: 35%;
    left: 15%;
    transform: translate(0, -50%);
}

.searchContainer{
    width: 950px;
    // box-shadow: 10px 10px 0px rgb(80, 63, 63);
    box-shadow: 10px 10px 0px rgba(80, 63, 63,0.3);
}

.searchContainer .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: '';
    clear: both;
    height: 0;
}

.selectedContainer{
    float: left;
    padding: 50px 0;
    width: 50% ; 
}

.brandContainer:hover{
    background: none;
}

.brandContainer{
    background: rgba(235, 167, 141, .17);
    // transition: .35s;
}

.typeContainer:hover {
    background: rgba(235, 167, 141, .17);
    transition: .35s;
}

.brandContainer:hover .typeContainer {
    background: rgba(235, 167, 141, .17);
}

.typeContainer:hover .brandContainer {
    background: none;
}

.textWrapper{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.searchInput{
    -webkit-appearance: none;
    border: none;
    background: none;
    border-radius: 0;
    width: 100%;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.searchInput:focus{
    outline: 2px solid hsla(328, 83%, 88%, 0.486);
}

.searchSubmitButton{
    position: absolute;
    bottom: -15%;
    right: 9%;
    transform: translate(-5%, 8.5%);
    outline: none;
    border: none;
    background: #f7f7f7;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
    font-size: 1.4rem;
    line-height: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    padding: 12px 35px;
    transition: .35s;
}