.searchPage{
        margin-top: 2vh;
        margin-left: 1.75vw;
        background: linear-gradient(45deg, rgba(236, 233, 230, .25), #000);
       
}

.inputWrapper{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.searchContainer{
    width: 750px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.searchContainer .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: '';
    clear: both;
    height: 0;
}

.selectedContainer{
    float: left;
    padding: 100px 0;
    width: 50% ; 
}

.selectedContainer:hover{
    background: rgba(235, 167, 141, .17);
    transition: .35s;
}
.textWrapper{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.searchInput{
    -webkit-appearance: none;
    border: none;
    background: none;
    border-radius: 0;
    width: 100%;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.searchInput:focus{
    outline: 2px solid #fac8e2;
}