.searchPage{
        margin-top: 2vh;
        margin-left: 1.75vw;
}

.inputWrapper{
    position: absolute;
    top: 35%;
    left: 25%;
    transform: translate(0, -50%);

    // @include tablet {
    //     left: 6%;
    // }
}

.searchContainer{
    width: 750px;
    // box-shadow: 10px 10px 0px rgb(80, 63, 63);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);

    // @include tablet {
    //     width: 762px;
    // }
}

.searchContainer .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: '';
    clear: both;
    height: 0;
}

.selectedContainer{
    float: left;
    padding: 50px 0;
    width: 50% ; 
}

.brandContainer:hover{
    background: rgba(235, 167, 141, .17);
    // transition: .35s;
}

.typeContainer:hover {
    background: rgba(235, 167, 141, .17);
    transition: .35s;
}

.textWrapper{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.searchInput{
    -webkit-appearance: none;
    border: none;
    background: none;
    border-radius: 0;
    width: 100%;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.searchInput:focus{
    outline: 2px solid hsla(328, 83%, 88%, 0.486);
}

.searchSubmitButton{
    position: absolute;
    bottom: -15%;
    right: 9%;
    transform: translate(-5%, 8.5%);
    outline: none;
    border: none;
    background: #f7f7f7;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
    font-size: 1.4rem;
    line-height: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    padding: 12px 35px;
    transition: .35s;
}

.visuallyHidden{
    display: none;
}

@media (max-width: 1161px) {
    .inputWrapper {
        left: 13%;
    }
} 

@media (max-width: 1120px) {
    .inputWrapper {
        left: 10%;
    }
} 

@media (max-width: 1079px) {
    .searchContainer {
        width: 901px;
    }
}

@media (max-width: 1031px) {
    .searchContainer {
        width: 849px;
    }
}

@media (max-width: 992px) {
    .searchContainer {
        width: 812px;
    }
}

@media (max-width: 941px) {
    .searchContainer {
        width: 770px;
    }
}

@media (max-width: 892px) {
    .searchContainer {
        width: 724px;
    }
}

@media (max-width: 836px) {
    .searchContainer {
        width: 681px;
    }
}

@media (max-width: 793px) {
    .searchContainer {
        width: 649px;
    }
}

@media (max-width: 768px) {
    .selectedContainer {
        float: none;
        width: 100%;
    }

    .searchContainer {
        margin-top: 25%;
    }
} 

@media (max-width: 749px){
    .searchContainer {
        width: 628px;
    }
}

@media (max-width: 720px) {
    .searchContainer {
        width: 600px;
    }
}

@media (max-width: 697px) {
    .searchContainer {
        width: 573px;
    }
}

@media (max-width: 659px) {
    .searchContainer {
        width: 549px;
    }
}

@media (max-width: 639px) {
    .searchContainer {
        width: 528px;
    }
}

@media (max-width: 612px) {
    .searchContainer {
        width: 500px;
    }
}

@media (max-width: 589px) {
    .searchContainer {
        width: 476px;
    }
}

@media (max-width: 557px) {
    .searchContainer {
        width: 448px;
    }
}

@media (max-width: 534px) {
    .searchContainer {
        width: 428px;
    }
}

@media (max-width: 509px) {
    .searchContainer {
        width: 400px;
    }
}

@media (max-width: 480px) {
    .searchContainer {
        width: 383px;
    }
}

@media (max-width: 460px) {
    .searchContainer {
        width: 365px;
    }
}

@media (max-width: 438px) {
    .searchContainer {
        width: 343px;
    }
}

@media (max-width: 411px) {
    .searchContainer {
        width: 322px;
    }
}

@media (max-width: 393px) {
    .searchContainer {
        width: 304px;
    }
}

@media (max-width: 368px) {
    .searchContainer {
        width: 288px;
    }
}

@media (max-width: 354px) {
    .searchContainer {
        width: 275px;
    }
}

@media (max-width: 340px) {
    .searchContainer {
        width: 267px;
    }
}

@media (max-width: 320px) {
    .searchContainer {
        width: 254px;
    }
    .inputWrapper {
        left: 1%;
    }
}
//Styles applying from Public Page
// .bagContainer{
//     width: 100%;
// }

// .bagItems{
//     float: left;  
//     width: calc(25% - 20px);
//     margin-bottom: 50px;
//     margin-right: 20px;
//     height: 400px;
//     position: relative;
// }


// .bagItems img{
//     width: 100%;
//     height: 300px;
//     display: block;
// }

// .bagItems p{
//     font-size: 1.4rem;
// }

// .bagItems a{
//     margin-right: 10px;
//     color: black;
// }

// .bagItems i{
//     margin-right: 3px;
// }


// .bagLinks{
//     position: absolute;
//     bottom: 0;
// }

// .bagTitle{
//     font-size: 3rem;
//     margin: 30px 0 30px 0;
// }